<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Access Denied</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>

<body>
	<div class="container">
	
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-body">
					<span class="alert alert-danger">You are not allowed to access this page.</span> 
				</div>
			</div>
		</div>
		
	</div>
    <script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>