<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Currency Converter Application</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css"/>
</head>

<body>
	
	<div class="container">
		<div class="form-signin">
			<form th:action="@{/login}" th:method="POST">
				<h3 class="form-signin-heading" th:text="Welcome"></h3>
				<br/>
				 
				<input type="text" id="email" name="email"  th:placeholder="Email"	class="form-control" /> <br/> 
				<input type="password"  th:placeholder="Password"
					id="password" name="password" class="form-control" /> <br /> 
					
				<div align="center" th:if="${param.error}">
					<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
				</div>
				<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
			</form>
			<div class="form-register">
				<div class="col-sm-12">
					<form th:action="@{/registration}" th:method="GET">
						<button class="btn btn-md btn-warning btn-block" type="Submit">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	
	<script src="/webjars/jquery/3.2.0/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>